table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 50%;
}

th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

th {
    background-color: lightgray;
}

#myname {
    color: purple;
}

@media print {
    .screen-only {
        display: none;
    }
}

input[type=text] {
    background-color: skyblue;
}

input[type=number] {
    background-color: limegreen;
}

form {
    padding: 10px;
}